* {
    list-style-type: none;
    text-decoration: none;
    font-family:'Open Sans', sans-serif;;
}


body {
    /* background-color: #f4ba30; */
    margin: 0;
    padding: 0;
}

.bg-yellow {
    background-color: #f4ba30;
} 

.bg-black {
    background-color:black;
}

.bg-lightgray{
    background-color: lightgray;
}

/* FLEX */

.flex {
    display: flex;
}

.flex-row {
    flex-direction:row;
}

.flex-column {
    flex-direction:column;
}

.flex-wrap {
    flex-wrap: wrap;
}


.space-between {
    justify-content: space-between;
}


.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}



/* TITLES */

h3 {
    font-weight:600;
}


/* PADDING */

.p-20 {
    padding:20px;

}



.profil-img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #f8d578;
    margin:20px;


}




p.firstname {
    font-size:1.9em;
    font-weight:700;
    text-align: left;
    margin-bottom:0px;
}


.service{
    border-radius: 8px;
    background-color:#dcdcdc;
    margin:20px;
    min-width:200px;
    width:100%;
    height:100%;

    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.service p{
    margin-bottom:3px;
}


.petsitter {
    min-width:500px;
}


span.price {
    font-size: 1.2em;
    font-weight: 600;
}








footer {
    min-height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;

}






/* ----- */



.profil-container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .petsitter-contain {
        flex-wrap: wrap;
    }
}