@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

}

.body-image {
    background-image: url(../../Assets/BG_Visual.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 60%;
}



a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #1B1B1B;
}

.card-title {
    font-size: 22px;
    font-weight: var(--font-weight-semibold);
}

.user-name {
    font-size: 18px;
    font-weight: var(--font-weight-semibold);

}

:root {
    /* color styles */
    --primary: #F63D3D;
    --primary-light: #D93A3A;
    --black: #1B1B1B;
    --gray-1: #545964;
    --gray-2: #E6E6ED;
    --gray-3: #c9c9ce;  
    --white: #FFFFFF;

    /* font sizes */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* font weight */

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

}

/* button primary */

.btn {
    padding: 15px 15px;
    font-weight: 600;
    border-radius: 8px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-semibold);
}

.btn-small {
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 8px;
    font-size: var(--text-light);
    font-weight: var(--font-weight-semibold);
    color: var(--white)
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:focus {
    background-color: var(--primary-light);

}

.btn-primary:hover {
    background-color: var(--primary-light);
}

.button:after {
    background-color: var(--primary-light);
}

/* button secondary */

.btn-secondary {
    background-color: var(--gray-2);
    color: var(--gray-1);
    border: none;
}

.btn-secondary:focus {
    background-color: var(--white);
    color: var(--gray-1);
}

.btn-secondary:hover {
    background-color: var(--gray-3);
}

.btn-secondary:active {
    background-color: var(--gray-3);
}

/* button checkbox */

.btn-checkbox {
    background-color: var(--white);
    padding: 15px 15px;
    font-weight: 600;
    border-radius: 8px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-medium);
    width: 100%;
    text-align: center;
}


input:checked  {
    color: #ffffff;
    background-color: var(--primary);
    border-color: var(--primary-light);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    i:before {
      content: "\f046";
    }
  }





/* navbar */

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 200;
}

.navbar-brand img {
    
}

.navbar-brand-small {
    transform: scale(0.6);
    align-items: start;
    filter: grayscale(100%);
    opacity: 40%;
    margin-left: -60px;
    margin-top: -10px;
    
}
.nav-link {
    font-size: var(--text-regular);
    font-weight: var(--font-weight-semibold);
    color: var(--black) !important;
}

/* section hero */
section.hero {
    margin: rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 16px 0;
}

.text-label {
    color: var(--black);
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    line-height: 20px;
}

.text-hero-bold {
    color: var(--black);
    font-size: var(--header-4);
    font-weight: var(--font-weight-bold);
    line-height: 46px;
}

.text-hero-regular {
    color: var(--black);
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
}

.text-label-regular {
    color: var(--black);
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
}

.pt3 {
    padding-top: 1em;
  }

.pb3 {
    padding-bottom: 1em;
}

.p-2 {
    padding: 0rem!important;
}

/* page liste pet sitters */

/* sticky filters */

.search-column {
	position: -webkit-sticky;
	position: sticky;
	top: 5rem;
}



.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--primary);
}

.rounded-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.rounded-image-large {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


/* ajout de style  */
    
.form-home {
    max-width:440px;
    margin-bottom:100px;
}
.form-select-home {
    max-width:440px;
}

.display-none input[type="radio"] {
    display: none;
}

form.form-home label{
margin:8px 0px 8px 0px;
}

input.form-date {
    width:200px;
    padding:15px;
}

.form-postalcode {
    width:100%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}



.space-between {
    justify-content: space-between;
}

.radio-container {
    margin-right: 20px;
    width:100%;
}

.radio-container-list {
    width:100%;
    background-color: #1B1B1B;
}

.radio {
    display: none; /* Masquer l'input radio */
}

.radio-label {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    color: #1B1B1B;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    padding: 15px 15px;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-semibold);
}



.radio-label-list {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    color: #1B1B1B;
    width:100%;
    margin:0px;
    height: auto;
    padding: 15px 15px;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-semibold);
   
}


.radio-label:hover {
    background-color: #1B1B1B;
    color: #FFFFFF;
}

.radio:checked + .radio-label {
    background-color: #1B1B1B;

  .radio-label:hover {
    background-color: #E6E6ED;
    color: #1B1B1B;
}

.radio:checked + .radio-label {
    background-color: #F63D3D;
    color: #FFFFFF;
}

/* ------------- */
